<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Demonstrations</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    svg {
        display: block;
        margin: auto;
    }

    .triangle {
        fill: white;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="/">
          </a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/adminstatus'> Admin Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id = "calendar"href='/calendar'> Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "demos"href='/demos'> Demos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id = "lunchplan"href='/lunchplan'> lunchplan </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id = "machine"href='/machine'> Machine </a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" id = "menu"href='/menu'>Menu</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" id = ""href='/teacherdashboard'> Teacher Dashboard</a>
              </li>
          </ul>
        </div>
      </nav>
    <svg width="1000" height="1200" viewBox="0 0 1000 1400">
        <text x="50%" y="50" font-size="48" text-anchor="middle">Demonstrations</text>
        <rect x="0" y="200" width="333.33" height="250" fill="black"/>
        <rect x="366.67" y="200" width="333.33" height="250" fill="black"/>
        <rect x="733.33" y="200" width="333.33" height="250" fill="black"/>
        <rect x="0" y="583.33" width="333.33" height="250" fill="black"/>
        <rect x="366.67" y="583.33" width="333.33" height="250" fill="black"/>
        <rect x="733.33" y="583.33" width="333.33" height="250" fill="black"/>
        <rect x="0" y="966.67" width="333.33" height="250" fill="black"/>
        <rect x="366.67" y="966.67" width="333.33" height="250" fill="black"/>
        <rect x="733.33" y="966.67" width="333.33" height="250" fill="black"/>

        <!-- Red rectangles -->
        <rect x="93.89" y="265" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="460.56" y="265" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="827.22" y="265" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="93.89" y="648.33" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="460.56" y="648.33" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="827.22" y="648.33" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="93.89" y="1031.67" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="460.56" y="1031.67" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>
        <rect x="827.22" y="1031.67" width="176.11" height="103.33" fill="red" rx="10" ry="10"/>

        <!-- White triangles -->
        <path class="triangle" d="M150 275L227.78 312.5 150 350Z"/>
        <path class="triangle" d="M516.67 275L594.44 312.5 516.67 350Z"/>
        <path class="triangle" d="M883.33 275L961.11 312.5 883.33 350Z"/>
        <path class="triangle" d="M150 658.33L227.78 695.83 150 733.33Z"/>
        <path class="triangle" d="M516.67 658.33L594.44 695.83 516.67 733.33Z"/>
        <path class="triangle" d="M883.33 658.33L961.11 695.83 883.33 733.33Z"/>
        <path class="triangle" d="M150 1041.67L227.78 1079.17 150 1116.67Z"/>
        <path class="triangle" d="M516.67 1041.67L594.44 1079.17 516.67 1116.67Z"/>
        <path class="triangle" d="M883.33 1041.67L961.11 1079.17 883.33 1116.67Z"/>
    </svg>
</body>
</html>

