<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demonstrations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }

        .video-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .video-item {
            margin: 20px;
            text-align: center;
            width: 200px;
        }

        .video-item a {
            display: block;
            color: black;
            text-decoration: none;
        }

        .video-item img {
            width: 200px;
            height: 150px;
            object-fit: cover;
            display: block;
            margin: auto;
        }

        .video-item h3 {
            margin-top: 10px;
        }

        .upload-form {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">TrinFitness</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href='/adminstatus'>Admin Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/calendar'>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/demos'>Demos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/lunchplan'>Lunch Plan</a>
                </li>

                    <a class="nav-link" href='/menu'>Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/teacherdashboard'>Teacher Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="text-center">Demonstrations</h1>
    <form action="/demos/upload" method="post" enctype="multipart/form-data" class="mb-4">
      <div class="form-group">
          <label for="file">Upload a file</label>
          <input type="file" class="form-control-file" name="file" id="file">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    
    <% if (message) { %>
      <div class="alert alert-info"><%= message %></div>
    <% } %>
    <% if (filePath) { %>
      <div>
          <h2>Uploaded File</h2>
          <% if (filePath.endsWith('.jpg') || filePath.endsWith('.jpeg') || filePath.endsWith('.png') || filePath.endsWith('.gif')) { %>
              <img src="<%= filePath %>" alt="Uploaded Image" style="max-width: 100%;">
          <% } else { %>
              <a href="<%= filePath %>"><%= filePath %></a>
          <% } %>
      </div>
    <% } %>
    <div class="video-container">
        <div class="video-item">
            <a href="/machine/bench-press">
               
                <h3>Bench Press</h3>
                <img src="../images/benchpress.png" href = "/machine/bench-press"alt="Bench Press">
            </a>
            <!-- <form action="/demos/upload" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="file" name="file" required>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </form> -->
            
        </div>
        <div class="video-item">
            <a href="/machine/squat-rack">
                
                <h3>Squat Rack</h3>
                <img src="../images/squatrack.png" href = "/machine/bench-press"alt="Squat Rack">
            </a>
            <!-- <form action="/demos/upload" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="file" name="file" required>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </form> -->
        </div>
        <div class="video-item">
            <a href="/machine/deadlift">
                
                <h3>Deadlift</h3>
                <img src="../images/deadlift.png" href ="/machine/bench-press"alt="Dead Lift">
            </a>

            <!-- <form action="/demos/upload" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="file" name="file" required>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </form> -->
        </div>
        <!-- Add more video items here as needed -->
    </div>
</body>
</html>




